.footer {
  /* position: fixed;   */
  /* Set the navbar to fixed position */
  background-color:rgb(232, 255, 212);
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.header{
  position: fixed; /* Set the navbar to fixed position */
  background-color: rgb(232, 255, 212);
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.logo{
  padding: 5.69px;

}

.indexCarousel{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  z-index: -3;
}

.indexCards {
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.contactConctactForm{
  padding: 15px;
  margin: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanMasthead{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanGrid{ 
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.dashboardLogin{
  margin:15px;

  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.maintanenceContactForm{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;

}

.guideBorder{

  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 6.9px;
}

