.footer {
  position: sticky;
  justify-content: center;
  text-align: center;
  left:0;
  bottom:0;
  right:0;
  background-color: #F7F7DF;
  width: 100%;
  z-index: 3;
  font-family: 'Aboreto', cursive;
}

.header{
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-size: large;
  /*base color of the site*/
  background-color: #F7F7DF;
  border-style: solid;
  border-width: .6pt;
  width: 75%;
  margin-left: 12.5%;
  /* https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
  position: fixed;
  top: 0;
  z-index: 3;
  font-family: 'Aboreto', cursive;
  /* margin-bottom: 50px; */
  


}
.navBar{
  margin-bottom: 20.0px;
  display: flexbox;
  justify-content: center;
  text-align: center;
  max-width: 100%;

}
/* To be used by each link */
.navLinks{
  margin: 20px;
  color: black;
  text-decoration: none;
}
.logo{
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

.indexCarousel{
  position: static;
  margin-top: 169px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  z-index: -3;
}



.indexCards {
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.contactConctactForm{
  padding: 15px;
  margin: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanMasthead{
  text-align: center;
  position: static;
  margin-top: 169px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanGrid{ 
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.dashboardLogin{
  margin:15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.aboutUs{
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  text-align: center;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.maintanenceContactFormStyle{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.guideBorder{
  border-style: solid;
  border-color: rgb(98, 0, 0);
  border-width: 3.5px;
}

.contactMessageForm{


}

.firstName {


}

.lastName {


}

.inquiryForm{
  margin-top: 25.69px;
  margin-bottom: 25.69px;
  

}