.footer {
  position: absolute;
  /* Set the navbar to fixed position */
  background-color:rgb(232, 255, 212);
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.header{
  justify-content: center;
  text-align: center;
  font-size: large;
  /*base color of the site*/
  background-color: #F7F7DF;
  border-style: solid;
  border-width: .6pt;
  width: 100%;
  /* https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/ */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: 'Aboreto', cursive;
  /* margin-bottom: 50px; */
}


/* To be used by each link */
.navLinks{
  margin: 50.69px;
  color: black;
  text-decoration: none;

}

.logo{
  padding: 5.69px;

}

.indexCarousel{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  z-index: -3;
}

.indexCards {
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.contactConctactForm{
  padding: 15px;
  margin: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanMasthead{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.floorplanGrid{ 
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.dashboardLogin{
  margin:15px;

  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.aboutUs{
  margin:15px;

  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.maintanenceContactForm{
  margin: 15px;
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
  z-index: -3;
}

.guideBorder{
  border-style: solid;
  border-color: rgb(98, 0, 0);
  border-width: 3.5px;
}

