.footer {
  /* position: fixed;  */
  /* Set the navbar to fixed position */
  background-color:rgb(232, 255, 212);
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.header{
  position: fixed; /* Set the navbar to fixed position */
  background-color: rgb(232, 255, 212);
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */

}

.indexCarousel{
padding: 15px;

}

.indexCards {
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
}

.contactConctactForm{
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
}

.floorplanMasthead{
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
}

.floorplanGrid{ 

  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;
}

.dashboardLogin{

  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;

}

.maintanenceContactForm{
  padding: 15px;
  filter: drop-shadow(38px 32px 65px #7A7979);
  border-radius: 30px;

}


.guideBorder{

  border-style: solid;
  border-color: rgb(255, 106, 106);
  border-width: 6.9px;

}

